<h1>Choose your pokemon!</h1>
<div class="separator"></div>
<p class="info">
    Pick the favorite creature and check for stats. You can search by typing id into field below.
</p>
<form class="search-form" (submit)="handleSearch()" [formGroup]="searchForm">
    <input class="search-field" placeholder="Id" type="number" formControlName="id"
        [style.borderColor]="isFormInvalid ? 'red' : 'rgba(40, 50, 76, 0.7)'">
    <button class="search-button" type="submit">Search</button>
</form>
<p class="error" *ngIf="isFormInvalid">Type number between 1 and {{limit * maxPages}}</p>
<ul *ngIf="pokemons.length !== 0" class="list">
    <li class="list-item" *ngFor="let item of pokemons">
        <div class="id">#{{item.id}}</div>
        <div class="name">{{item.name | titlecase}}</div>
    </li>
</ul>
<ul *ngIf="pokemons.length === 0" class="list">
    <li class="list-item" *ngFor="let item of mocks">
        <div class="mock-number"></div>
        <div class="mock-pokemon" [style.width.px]="item"></div>
    </li>
</ul>
<div class="actions">
    <button (click)="handleLeft()" [disabled]="!hasPrevious || loading">
        <i class="material-icons">chevron_left</i>
    </button>
    <button (click)="handleRight()" [disabled]="!hasNext || loading">
        <i class="material-icons">chevron_right</i>
    </button>
</div>
