@import '../../../styles/theme.scss';

:host {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    background: white;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.mock-number {
    height: 1rem;
    width: 24px;
    background: #f1f1f1;
    border-radius: 2px;
}

.mock-pokemon {
    height: 1rem;
    background: #f1f1f1;
    border-radius: 2px;
}

.separator {
    width: 40px;
    height: 4px;
    margin: 28px 0;
    background: $color-active;
}

.info {
    font-size: 1.1rem;
}

.search-form {
    margin-top: 1.5rem;
    display: flex;
    align-items: stretch;
}

.search-field {
    width: 100%;
    padding: .8rem 1.2rem;
    border: 1px solid rgba($color-text, .7);
    outline: none;
    font-weight: 500;
}

.search-button {
    user-select: none;
    text-transform: uppercase;
    background: $color-primary;
    border: none;
    outline: none;
    padding: 0 2rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.search-button:hover:not([disabled]) {
    background: linear-gradient(90deg,#0935ec 0,#ff00f0 100%);
}

.search-button:disabled {
    opacity: .2;
    cursor: default;
    pointer-events: none;
}

.error {
    color: red;
    font-size: .875rem;
    margin-top: .3rem;
}

.list {
    list-style: none;
    padding: 0;
    line-height: 1;
}

.list-item {
    padding: .5rem;
    display: flex;
    justify-content: space-between;

    & > .id {
        font-weight: 400;
    }
}

.actions {
    display: flex;
    justify-content: flex-end;

    & > button {
        user-select: none;
        color: $color-text;
        background-color: transparent;
        border: none;
        outline: none;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .4rem;
        cursor: pointer;
        transition: 200ms background-color;
    }

    & > button:hover:not([disabled]) {
        background-color: #f1f1f1;
    }

    & > button:disabled {
        opacity: .2;
        cursor: default;
        pointer-events: none;
    }
}
