/* App colors */
$color-primary: #0600ff;
$color-accent: #ff00ef;
$color-active: #2bfbd6;
$color-text: #28324c;
$color-error: #f00;
$color-hover: #f1f1f1;
$color-disabled: #ddd;

/* Stat colors */
$color-hp: #FF5959;
$color-attack: #F5AC78;
$color-defense: #FAE078;
$color-sp-attack: #9DB7F5;
$color-sp-defense: #A7DB8D;
$color-speed: #FA92B2;

/* Gradient */
$color-gradient-primary: #0935ec;
$color-gradient-accent: #ff00f0;
