@import '../../../styles/theme.scss';

:host {
    width: 100%;
    max-width: 500px;
    background: #fff;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
    border-radius: 1rem;
    position: relative;
    margin: 1rem;
}

.back-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.content {
    padding: 2rem 2rem 0;

    .separator {
        width: 40px;
        height: 4px;
        margin: 28px 0;
        background: $color-active;
    }

    .sprite {
        position: absolute;
        right: 25%;
        top: 2rem;
    }

    .sprite-mock {
        width: 96px;
        height: 96px;
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .switch-button {
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        flex: 1;
        padding: 2rem;
        font-size: 1rem;
        font-weight: 400;
        transition: 200ms background-color;

        .mock {
            height: 24px;
        }

        & span {
            flex: 1;
            white-space: nowrap;
        }

        &#left {
            border-radius: 0 0 0 1rem;
        }

        &#right {
            border-radius: 0 0 1rem 0;
        }

        &:hover {
            background-color: #f1f1f1;
        }

        &:disabled {
            color: #ddd;
            cursor: default;
            pointer-events: none;
        }
    }
}
