@import '../../../styles/theme.scss';

:host {
    width: 100%;
    max-width: 500px;
    background: #fff;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
    border-radius: 1rem;
    position: relative;
    margin: 1rem;
}

.back-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.content {
    padding: 2rem 2rem 0;

    .separator {
        width: 40px;
        height: 4px;
        margin: 28px 0;
        background: $color-active;
    }

    .sprite {
        position: absolute;
        right: 25%;
        top: 2rem;
    }

    .sprite-mock {
        width: 96px;
        height: 96px;
    }
}
