@import '../styles/theme.scss';

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;

    @media (max-width: 600px) {
        padding: 1rem;
        padding-top: calc(1rem + 60px);
        align-items: flex-start;
    }
}
