.list-container {
    display: grid;
    margin: 1rem 0;

    & > * {
        grid-column: 1;
        grid-row: 1;
    }

    .list {
        list-style: none;
        padding: 0;
        line-height: 1;
        margin: 0;
    }

    .mock-list {
        transition: 200ms opacity;
        pointer-events: none;

        .mock-number {
            height: 1rem;
            width: 24px;
            background: #f1f1f1;
            border-radius: 2px;
        }

        .mock-pokemon {
            height: 1rem;
            background: #f1f1f1;
            border-radius: 2px;
        }
    }

    .list-item {
        padding: .5rem;
        display: flex;
        justify-content: space-between;
        transition: 200ms background-color;

        & > .id {
            font-weight: 400;
            height: 1rem;
        }

        & > .name {
            height: 1rem;
        }
    }

    .list-item:hover {
        background-color: #f1f1f1;
        border-radius: 2px;
    }
}

.actions {
    display: flex;
    justify-content: flex-end;
}
