<section class="list-container">
    <ul class="list">
        <a [routerLink]="[ '/pokemon', item.id ]" *ngFor="let item of pokemons">
            <li class="list-item">
                <div class="id">#{{item.id}}</div>
                <div class="name">{{item.name | titlecase}}</div>
            </li>
        </a>
    </ul>
    <ul class="list mock-list" [style.opacity]="pokemons.length === 0 ? 1 : 0">
        <li class="list-item" *ngFor="let item of mocks">
            <div class="mock-number"></div>
            <div class="mock-pokemon" [style.width.px]="item"></div>
        </li>
    </ul>
</section>

<section class="actions">
    <button class="icon-button" (click)="handleLeft()" [disabled]="!hasPrevious || loading">
        <i class="material-icons">chevron_left</i>
    </button>
    <button class="icon-button" (click)="handleRight()" [disabled]="!hasNext || loading">
        <i class="material-icons">chevron_right</i>
    </button>
</section>
